= simple_form_for(@task, html: {class: 'form-horizontal'}) do|f|
  = f.input :title, label: "task title"
  = f.input :description, label: "task description"
  = f.input :company, label: "Your Company"
  = f.input :url, label: "Link To Task"
  %br/
  =f.button :submit